doctype html
html( lang="en" )
  head
    title= Testvision
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" )
    link( rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" )
    script( src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" )
    script( src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js" )
    style.
      h1 {
        font-size: 18px;
      }
      .fixed {
        position: fixed
      }
      img {
        max-width: 200px;
        max-height: 200px;
      }
      .similar {
        margin-bottom: 40px;
      }
      .jstree-themeicon-custom {
        background-size: cover !important;
        background-position: center !important;
      }
  body
    div.container-fluid
      div.row
        div.col-xs-2
          div.fixed
            h4 Observation
            img( src="/" + tempfilepath )
            div.taxon
              a( href="http://www.inaturalist.org/taxa/" + observation.taxon.id )= observation.taxon.name
        div.col-xs-2
          h4 Similar By Photo
          - var sumOfScores = 0;
          each match in similarByPhoto
            - sumOfScores += match.score
            div.similar
              if match.taxon.default_photo
                img( src=match.taxon.default_photo.medium_url )
              div.taxon
                a( href="http://www.inaturalist.org/taxa/" + match.taxon.id )= match.taxon.name
              div.score Score: #{ match.score }, SumOfScores: #{ Math.round( sumOfScores ) }
        div.col-xs-5
          h4 Classification
          div#similarTree
        div.col-xs-2
          h4 Frequency
          p Common Ancestor:&nbsp;
            if commonAncestor
              a( href="http://www.inaturalist.org/taxa/" + commonAncestor.id )= commonAncestor.name
            else
              Life
            each match in nearbyTaxa
              div.similar
                if match.taxon.default_photo
                  img( src=match.taxon.default_photo.medium_url )
                div.taxon
                  a( href="http://www.inaturalist.org/taxa/" + match.taxon.id )= match.taxon.name
                div.score Score: #{ match.count }
    script( type="text/javascript" ).
       var data = !{ JSON.stringify( jstreeData ) };
       $( "#similarTree" ).jstree({ core: { data: data } } );
