- var iconic_taxon = ( (obs.taxon && obs.taxon.iconic_taxon_id) ? util.iconicTaxaByID[ obs.taxon.iconic_taxon_id ] : 'unknown' )
- var iconic_taxon_capital = util.capitalize( iconic_taxon );
.compact.mini.infowindow.observations
  #observation-1714838.observation( data-iconic-taxon-id="#{obs.taxon ? obs.taxon.iconic_taxon_id : ''}" data-iconic-taxon-name="#{ iconic_taxon_capital }")
    .icon.attribute
      img.iconic( data-square-url="http://www.inaturalist.org/assets/iconic_taxa/#{ iconic_taxon }-15px.png" data-small-url="http://www.inaturalist.org/assets/iconic_taxa/#{ iconic_taxon }-32px.png" src="http://www.inaturalist.org/assets/iconic_taxa/#{ iconic_taxon }-15px.png" )
    .photos.attribute
      h4.label= "Photos / Sounds"
      .photolist
        if obs.photos.length > 0 && obs.photos[0].url
          a.flickr.photo( href="http://www.inaturalist.org/observations/#{ obs.id }" )
            img( src="#{ obs.photos[0].url }" alt="Square" )
    div.readable.species_guess.attribute
      h4.label= "What"
      span.taxon.species( class="#{ iconic_taxon_capital }")
        span.comname
          a( href="http://www.inaturalist.org/observations/#{ obs.id }" ) #{ (obs.taxon && obs.taxon.names[0]) ? obs.taxon.names[0].name : 'Unknown' }
        span.othernames
          span.sciname #{ obs.taxon ? obs.taxon.name : '' }
    div.user.attribute
      h4.label= "Observer"
      a( href="http://www.inaturalist.org/observations/#{ obs.user.login }" ) #{ obs.user.login }
    div.observed_on.attribute
      h4.label= "Date"
      if obs.observed_on
        - var observedMoment = moment( Date.parse( obs.observed_on ) )
        span.date( title="#{obs.observed_on_details.year}-#{obs.observed_on_details.month}-#{obs.observed_on_details.day}" )
          a( rel="nofollow" href="http://www.inaturalist.org/observations/swampy?on=#{obs.observed_on_details.year}-#{obs.observed_on_details.month}" ) #{ observedMoment.format('MMMM') + " " }
          a( rel="nofollow" href="http://www.inaturalist.org/observations/swampy?on=#{obs.observed_on_details.year}-#{obs.observed_on_details.month}-#{obs.observed_on_details.day}" ) #{obs.observed_on_details.day}
          = ", "
          a( rel="nofollow" href="http://www.inaturalist.org/observations/swampy?on=#{obs.observed_on_details.year}" ) #{obs.observed_on_details.year}
    div.actions.attribute
      ul.editview
        li.last.viewlink
          a.readmore( href="http://www.inaturalist.org/observations/#{ obs.id }" )= "View"
